@using DiceRoller.Models;

@{
    ViewBag.Title = "Index";
}

@helper ShowDiceRolls(Dice dice, string number)
{
if (dice != null)
{
        <span>
            @String.Format("Dice {0} landed on {1}", number, dice.Outcome)<br />
            @String.Format("The dice has been thrown {0} times", dice.NumRolls)<br />
            @String.Format("The total score is {0}", dice.TotalSum)<br />
            @String.Format("The average score is {0:0.00}", dice.AvgScore)<br />
        </span>
        <br />
        <span>
            There has been thrown:<br />
            @for (int i = 0; i < dice.Distribution.Length; i++)
            {
                @String.Format("{0}: {1}", dice.Distribution[i], i + 1)<br />
            }
        </span>
}
}

@helper ShowDiceButton(string number)
{
    <input type="submit" name="rollDice" value="@number" />
}

<h2>Dynamic Dice Roller</h2>

@using (Html.BeginForm())
{
    <div id="mainDiv">
        @foreach (KeyValuePair<string, Dice> kvp in ViewBag.Die)
        {
            <div id="dice">
                @ShowDiceButton(kvp.Key)<br />

                @if (kvp.Value.NumRolls > 0)
                {
                    @ShowDiceRolls(kvp.Value, kvp.Key)
                }
            </div>
        }
    </div>
}

<br />

<style>
    #dice {
        display:inline;
        position:relative;
        float:left;
        margin-right:10px;
        border: 1px solid black;
        padding: 2px;
        overflow: hidden;
    }

</style>